<a href="" class="dropdown-toggle" data-toggle="dropdown">
  {{~#if selectedResult}}{{selectedResult}}
  {{~else~}}Result
  {{~/if~}}
  <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="">No result</a></li>
  {{#each resultList}}
  <li><a href="{{this}}">{{this}}</a></li>
  {{/each}}
</ul>