<a data-toggle="collapse" data-target="#js-options-dropdown" class="options-button">
  <span class="glyphicon glyphicon-cog"></span>
</a>

<div class="collapse" id="js-options-dropdown">

  <div class="panel-group" id="options-accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="indicator glyphicon glyphicon-menu-right"></i>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#options-accordion" href="#options-showcase">
            Showcase
          </a>
        </h4>
      </div>
      <div id="options-showcase" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" class="animatebtn">Animate
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" class="VRviewbtn">VR view
            </label>
          </div>          

        </div>
      </div>
    </div>    


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="indicator glyphicon glyphicon-menu-right"></i>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#options-accordion" href="#options-geometry">
            Geometry display settings
          </a>
        </h4>
      </div>
      <div id="options-geometry" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default active">
              <input type="radio" name="edges" value="no edges" checked>No edges
            </label>
            <label class="btn btn-default">
              <input type="radio" name="edges" value="mesh edges">Mesh edges
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" name="nodes">Show nodes
            </label>
          </div>
          
          <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" name="transparentPart">Show interior
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" data-toggle="toggle" name="lights">Shading
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="indicator glyphicon glyphicon-menu-right"></i>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#options-accordion" href="#options-contour">
            Contour plot settings
          </a>
        </h4>
      </div>
      <div id="options-contour" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="form-group">
            <select class="form-control js-colormap">
              <option value='blue-to-red'>Blue to Red</option>
              <option value='red-to-blue'>Red to Blue</option>
            </select>
          </div>

          <div class="form-group">
            <label>Max color</label>
            <input type="color" name="maxColor">
            <button class="btn btn-default js-maxColor-colormap">Set from color map</button>
          </div>
          <div class="form-group">
            <label>Min color</label>
            <input type="color" name="minColor">
            <button class="btn btn-default js-minColor-colormap">Set from color map</button>
          </div>

          <div class="form-group">
            <input class="form-control" placeholder="Max value" name="maxContourValue">
            <input class="form-control" placeholder="Min value" name="minContourValue">
            <button class="btn btn-default js-findMinMax">Find min/max from view</button>
          </div>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="indicator glyphicon glyphicon-menu-right"></i>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#options-accordion" href="#options-viewcuts">
            Viewcuts
          </a>
        </h4>
      </div>
      <div id="options-viewcuts" class="panel-collapse collapse">
        <div class="panel-body">

                <p role="separator" class="divider"></p>        
                <p>X - section, reverse: <input type="checkbox" id="cboxX" name="cboxX" value="X_checkbox"></p>
                <input type="range"  min="0" max="100" value="100" step="1" id="rangeX" name="rangeX"/>
                <p role="separator" class="divider"></p>
                <p>Y - section, reverse: <input type="checkbox" id="cboxY" name="cboxY" value="Y_checkbox"></p>
                <input type="range"  min="0" max="100" value="100" step="1" id="rangeY" name="rangeY"/>
                <p role="separator" class="divider"></p>
                <p>Z - section, reverse: <input type="checkbox" id="cboxZ" name="cboxZ" value="Z_checkbox"></p>
                <input type="range"  min="0" max="100" value="100" step="1" id="rangeZ" name="rangeZ"/>

        </div>
      </div>
    </div>
    
  </div>

</div>
