<!-- Modal: Oxidation sensitivity -->
<div class="modal fade plugin" id="OXSensitivityModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">Oxidation sensitivity</h4>
      </div>
      <div class="modal-body">

        <label><b>{{text}}</b></label>
        <br>

        <table>
          <tbody>
            {{#each resultList}}
            <tr>
              <th>{{this.name}}</th>
              <td>{{this.value}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br>


        {{#if fullView}}
            <div class="form-group">
            <label for="OXplugin-selTDAM">Which parameter corresponds to the metal temperature?</label>
            <select class="form-control" id="OXplugin-selTDAM">
              {{#each resultList}}
              <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="OXplugin-reqLT">Required lifetime, hours (default = 24000):</label>
            <input type="number" class="form-control" id="OXplugin-reqLT" placeholder="Enter lifetime">
            <br>            
            
            <label for="OXplugin-deltaT">Temperature delta (default = 0):</label>
            <input type="number" class="form-control" id="OXplugin-deltaT" placeholder="Enter temperature delta">
            <br>

            <p>Resulting oxidation thickness, microns: <span id="OXplugin-sensResult"></span></p>
            <br>

            </div>
        {{/if}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>