input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 38px;
  padding: 0;
  margin: 1px;
}
input[type=range]:focus {
  outline: none;
}
/* webkit */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #337ab7;
  border-radius: 4px;
  border: 0.2px solid #010101;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
/* Mozilla */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #337ab7;
  border-radius: 4px;
  border: 0.2px solid #010101;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
/* Internet Explorer */
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #337ab7;
  border: 0.2px solid #010101;
  border-radius: 4px;
}
input[type=range]::-ms-fill-upper {
  background: #337ab7;
  border: 0.2px solid #010101;
  border-radius: 4px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
