canvas {
    display: block;
}
label {
  font-weight: normal;
}
th {
    text-align: right;
}
td, th {
    padding: 3px;
}
.navbar {
    /* margin-bottom: 0 */
}

.dropdown > .loader {
    padding: 17px 30px;
}

.dropdown li > a.dir {
    font-weight: 700
}

.dropdown li > a.dir::after {
    content: "..."
}

.viewport {
    height: 93vh; /* fallback if calc is not supported*/
    width: 100vw;
    /* height: calc(100vh - 71px); */
    overflow: hidden;
    position: relative;
    /* background-color:#ffcccc */
}
.viewport > canvas {
    border: 1px solid;
    border-color: #e7e7e7;
    position: absolute;
    top: 0;
    left: 15px;
}

.legend {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
    padding: 10px;
    margin: 10px;
    height: calc(100% - 20px);
}
.legend.legend-minimized {
    padding: 0;
    height: 50px;
}

.minMaxVert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0px;
    margin: 0px;
}

.options {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    padding: 10px;
}
.options .options-button {
    display: block;
    font-size: 40px;
}
.options #js-options-dropdown {
    position: absolute;
    left: auto;
    right: 10px;
    width: calc(100vw - 50px);
}
@media (min-width: 768px) {
    .options #js-options-dropdown {
        width: 350px;
    }
}
.query-window {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 1;
    padding: 10px;
    border: 1px solid #e7e7e7;
}
.query-window th {
    padding: 4px;
    text-align: right;
}
.query-window td {
    padding: 4px;
    text-align: left;
    /* min-width: 10em; */
}

#jstree-tree {
  overflow-x:scroll;
  overflow-y:hidden;
  width : 83vw;
  margin-left: auto;
  margin-right: auto;
}
#BrowseModalContent {
  width : 90vw;
}
#BrowseModalDialog {
  width : 90vw;
}
*:focus {
    outline: none!important ;
}
.removed {
    display: none;
}
:-webkit-full-screen #js-viewport {
  width: 100%;
  height: 100%;
}
/*.angle-window {
    position: absolute;
    bottom: 0;
    left: 400px;
    z-index: 2;
    padding: 10px;
    border: 1px solid #e7e7e7;
}*/