<!-- Modal: Damage Risk analysis -->
<div class="modal fade plugin" id="DamageRiskModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">Remaining lifetime calculation</h4>
      </div>
      <div class="modal-body">
          
          <h2>Random factors</h2>
          
          <label for="DamageRiskplugin-selMinLCF"><b>Which parameter corresponds to min LCF lifetime?</b></label>
          <select class="form-control" id="DamageRiskplugin-selMinLCF">
            {{#each resultList}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
          <br> 

          <label for="DamageRiskplugin-selMeanLCF"><b>Which parameter corresponds to mean LCF lifetime?</b></label>
          <select class="form-control" id="DamageRiskplugin-selMeanLCF">
            {{#each resultList}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
          <br>           

          <br>
          <h2>Deterministic factors</h2>          
          <table style="width:100%">
            <tr>
              <td>
                  <label for="DamageRiskplugin-lole1LCF"><b>LCF lifetime at Load Level 1?</b></label>
                  <select class="form-control" id="DamageRiskplugin-lole1LCF">
                    {{#each resultList}}
                      <option>{{this.name}}</option>
                    {{/each}}
                  </select>
              </td>
              <td> 
                  <label for="DamageRiskplugin-lole1VAlue"><b>Enter load level value:</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-lole1VAlue" placeholder="%">                        
              </td>              
            </tr>
            <tr>
              <td>
                  <label for="DamageRiskplugin-lole2LCF"><b>LCF lifetime at Load Level 2?</b></label>
                  <select class="form-control" id="DamageRiskplugin-lole2LCF">
                    {{#each resultList}}
                      <option>{{this.name}}</option>
                    {{/each}}
                  </select>
              </td>
              <td> 
                  <label for="DamageRiskplugin-lole2VAlue"><b>Enter load level value:</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-lole2VAlue" placeholder="%">                        
              </td>              
            </tr>
            <tr>
              <td>
                  <label for="DamageRiskplugin-lole3LCF"><b>LCF lifetime at Load Level 3?</b></label>
                  <select class="form-control" id="DamageRiskplugin-lole3LCF">
                    {{#each resultList}}
                      <option>{{this.name}}</option>
                    {{/each}}
                  </select>
              </td>
              <td> 
                  <label for="DamageRiskplugin-lole3VAlue"><b>Enter load level value:</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-lole3VAlue" placeholder="%">                        
              </td>              
            </tr>
          </table>
          <br>
          <h2>Operation data</h2>
          <table style="width:100%">
            <tr>
              <td>
                  <label for="DamageRiskplugin-OperData-lole1Val"><b>Load Level 1?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole1Val" placeholder="%"> 
              </td>
              <td>
                  <label for="DamageRiskplugin-OperData-lole1Dur"><b>Load Level 1 duration?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole1Dur" placeholder="cycles"> 
              </td>             
            </tr>
            <tr>
              <td>
                  <label for="DamageRiskplugin-OperData-lole2Val"><b>Load Level 2?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole2Val" placeholder="%"> 
              </td>
              <td>
                  <label for="DamageRiskplugin-OperData-lole2Dur"><b>Load Level 2 duration?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole2Dur" placeholder="cycles"> 
              </td>             
            </tr>
            <tr>
              <td>
                  <label for="DamageRiskplugin-OperData-lole3Val"><b>Load Level 3?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole3Val" placeholder="%"> 
              </td>
              <td>
                  <label for="DamageRiskplugin-OperData-lole3Dur"><b>Load Level 3 duration?</b></label>
                  <input type="number" class="form-control" size="55" id="DamageRiskplugin-OperData-lole3Dur" placeholder="cycles"> 
              </td>             
            </tr>            
          </table>          

          <br>          
          <label for="DamageRiskplugin-NCycl"><b>Enter required additional number of cycles (same load pattern):</b></label>
          <input type="number" class="form-control" size="55" id="DamageRiskplugin-NCycl" placeholder="Cycles">          
          

          <br>          
          <p>Input status: <span id="DamageRiskplugin-InpStat"></span></p>
          <br>
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>