<!-- Modal: Remaining lifetime analysis -->
<div class="modal fade plugin" id="RemLifeModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">Remaining lifetime calculation</h4>
      </div>
      <div class="modal-body">

          <label for="RemLifeplugin-selLCF">Which parameter corresponds to the LCF lifetime?</label>
          <select class="form-control" id="RemLifeplugin-selLCF">
            {{#each resultList}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
          <br>      
      
          <table>
            <tr>
              <td>
                <label for="RemLifeplugin-NCycl"><b>Enter accumulated number of cycles:</b></label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-NCycl" placeholder="Cycles">
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <label for="RemLifeplugin-NOH"><b>Enter accumulated number of OH:</b></label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-NOH" placeholder="OH">
              </td>
              <td>
                <label for="RemLifeplugin-COH">Cycles to OH coefficient, default: 20</label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-COH" placeholder="Coefficient">
              </td>
            </tr>
            <tr>
              <td>
                <label for="RemLifeplugin-NWarm"><b>Enter number of warm starts:</b></label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-NWarm" placeholder="Starts">
              </td>
              <td>
                <label for="RemLifeplugin-CWarm">Warm start lifetime coefficient, default: 0.75</label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-CWarm" placeholder="Coefficient">
              </td>
            </tr>
            <tr>
              <td>
                <label for="RemLifeplugin-NTrip"><b>Enter number of trips:</b></label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-NTrip" placeholder="Trips">
              </td>
              <td>
                <label for="RemLifeplugin-CTrip">Trip lifetime coefficient, default: 10</label>
                <input type="number" class="form-control" size="55" id="RemLifeplugin-CTrip" placeholder="Coefficient">
              </td>
            </tr>
          </table>

          <br>

          <p>Input status: <span id="RemLifeplugin-InpStat"></span></p>
          <br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>