<!-- Modal: 1D FM analysis -->
<div class="modal fade plugin" id="FM1DModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">Fracture Mechanics 1D analysis</h4>
      </div>
      <div class="modal-body">

        <label><b>{{text}}</b></label>
        <br>

        <table>
          <tbody>
            {{#each resultList}}
            <tr>
              <th>{{this.name}}</th>
              <td>{{this.value}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br>


        {{#if fullView}}
            <div class="form-group">
            <label for="FM1Dplugin-selTDAM">Which parameter corresponds to the damage temperature?</label>
            <select class="form-control" id="FM1Dplugin-selTDAM">
              {{#each resultList}}
              <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="FM1Dplugin-selSIGR">Which parameter corresponds to the stress range?</label>
            <select class="form-control" id="FM1Dplugin-selSIGR">
              {{#each resultList}}
              <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="FM1Dplugin-selLCF">Which parameter corresponds to the LCF lifetime (optional for summary display)?</label>
            <select class="form-control" id="FM1Dplugin-selLCF">
              <option>Not defined</option>
              {{#each resultList}}
                <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="FM1Dplugin-initA">Initial crack length (default = 0.5 mm):</label>
            <input type="number" class="form-control" id="FM1Dplugin-initA" placeholder="Enter initial crack size">
            <br>

            <p>Critical crack length, mm: <span id="FM1Dplugin-aCrit"></span></p>
            <br>            
            <p>Resulting FM life, cycles: <span id="FM1Dplugin-FMLife"></span></p>
            <br>            
            <p>Resulting FM+LCF life, cycles: <span id="FM1Dplugin-sensResult"></span></p>
            <br>

            </div>
        {{/if}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>