<!-- Modal: Comment -->
<div class="modal fade plugin" id="commentModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">Model info</h4>
      </div>
      <div class="modal-body">
          <h3>{{model_name}}</h3>
          <p>{{comment}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>