<table>
  <tbody>
    <tr>
      <th>Node</th>
      <td>{{nodenum}}</td>
    </tr>
    {{#each resultList}}
    <tr>
      <th>{{this.name}}</th>
      <td>{{this.value}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
