<!-- Modal: LCF sensitivity -->
<div class="modal fade plugin" id="LCFSensitivityModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentLabel">LCF sensitivity</h4>
      </div>
      <div class="modal-body">

        <label><b>{{text}}</b></label>
        <br>

        <table>
          <tbody>
            {{#each resultList}}
            <tr>
              <th>{{this.name}}</th>
              <td>{{this.value}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br>


        {{#if fullView}}
            <div class="form-group">
            <label for="LCFplugin-selTDAM">Which parameter corresponds to the damage temperature?</label>
            <select class="form-control" id="LCFplugin-selTDAM">
              {{#each resultList}}
              <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="LCFplugin-selSIGR">Which parameter corresponds to the stress range?</label>
            <select class="form-control" id="LCFplugin-selSIGR">
              {{#each resultList}}
              <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="LCFplugin-selLCF">Which parameter corresponds to the LCF lifetime (optional for accuracy)?</label>
            <select class="form-control" id="LCFplugin-selLCF">
              <option>Not defined</option>
              {{#each resultList}}
                <option>{{this.name}}</option>
              {{/each}}
            </select>
            <br>

            <label for="LCFplugin-deltaT">Temperature delta (default = 0):</label>
            <input type="number" class="form-control" id="LCFplugin-deltaT" placeholder="Enter temperature delta">
            <br>

            <label for="LCFplugin-notchF">Notch factor (default = 1.0):</label>
            <input type="number" class="form-control" id="LCFplugin-notchF" placeholder="Enter notch factor">
            <br>

            <p>Resulting LCF life, cycles: <span id="LCFplugin-sensResult"></span></p>
            <br>

            </div>
        {{/if}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>